
a {

text-decoration: none;
text-align: center;
color: black;

}

body {
	background-image: url(../image/img-fond.jpg);
	background-size: cover;
	z-index:0;
	font-family: trebuchet;
}

main {
	flex


}

#menu {
	width: 400px;
  list-style: none;
  margin: 0;
	padding: 1em;
	float: right;
	color: white;
	font-family: trebuchet;
	font-weight: bold;

}

#menu li {
  background: grey ;
  color: #fff ;
  border: 1px solid #fff ;
  margin: 1px ;
  display: inline-block;
}

#menu li a {
	flex-direction: row;
  background: grey ;
  color: #fff ;
  font: 1em "Trebuchet MS",Arial,sans-serif ;
  line-height: 1em ;
  text-align: left ;
  text-decoration: none ;
  padding: 4px 0 ;
  margin: 0.5em;
}

#navigation li a:hover, #navigation li a:focus, #navigation li a:active {
  background: darkgrey ;
  text-decoration: underline ;
}

#logo {
	z-index: 5;
	position: absolute;
	margin-top: 375px;
	margin-left: 750px;
}


#projets {
		background:#fff;
  	border-radius:50%;
  	width:300px;
  	height:300px;
  	color: black;
		position: absolute;
		align-items: baseline;
		text-align: center;
		vertical-align: center;
		padding: auto;
		margin-left: 500px;
		margin-top: 200px;
		top: auto;
		font-size: 18pt;
		line-height: 12em;
		font:"Trebuchet MS",Arial,sans-serif ;
}

#acteurs {
		background:#fff;
  	border-radius:50%;
  	width:300px;
  	height:300px;
		color: black;
		position: absolute;
		text-align: center;
		margin-left: 1000px;
		margin-top: 200px;
  	top: auto;
  	font-size: 18pt;
  	line-height: 12em;
  	font: "Trebuchet MS",Arial,sans-serif ;
}

#idees {
		background:#fff;
  	border-radius:50%;
  	width:300px;
  	height:300px;
		color: black;
		position: absolute;
		text-align: center;
		margin-left: 500px;
		margin-top: 550px;
		top: auto;
		font-size: 18pt;
		line-height: 12em;
		font: "Trebuchet MS",Arial,sans-serif ;
}

#ressources {
  	background:#fff;
  	border-radius:50%;
  	width:300px;
  	height:300px;
		color: black;
		position: absolute;
		text-align: center;
		margin-left: 1000px;
		margin-top: 550px;
		top: auto;
		font-size: 18pt;
		line-height: 12em;
		font: "Trebuchet MS",Arial,sans-serif ;
}

#projets:hover {
		background:#fff;
  	border-radius:50%;
  	width:300px;
  	height:300px;
  	color: black;
		position: absolute;
		text-align: center;
		padding: auto;
		margin-left: 500px;
		margin-top: 200px;
		top: auto;
		font-size: 18pt;
		font-weight: bold;
		line-height: 12em;
		font: "Trebuchet MS",Arial,sans-serif ;
		box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

#acteurs:hover {
		background:#fff;
  	border-radius:50%;
  	width:300px;
  	height:300px;
		color: black;
		position: absolute;
		text-align: center;
		margin-left: 1000px;
		margin-top: 200px;
  	top: auto;
  	font-size: 18pt;
  	font-weight: bold;
  	line-height: 12em;
  	font: "Trebuchet MS",Arial,sans-serif ;
  	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

#idees:hover {
		background:#fff;
  	border-radius:50%;
  	width:300px;
  	height:300px;
		color: black;git
		position: absolute;
		text-align: center;
		margin-left: 500px;
		margin-top: 550px;
		top: auto;
		font-size: 18pt;
		font-weight: bold;
		line-height: 12em;
		font: "Trebuchet MS",Arial,sans-serif ;
		box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

#ressources:hover {
  	background:#fff;
  	border-radius:50%;
  	width:300px;
  	height:300px;
		color: black;
		position: absolute;
		text-align: center;
		margin-left: 1000px;
		margin-top: 550px;
		top: auto;
		font-size: 18pt;
		font-weight: bold;
		line-height: 12em;
  	font: "Trebuchet MS",Arial,sans-serif ;

	box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}
